*{margin:0; padding:0;}body {font-size:14px;font-family:"微软雅黑","宋体";} 
html{ width:100%; height:auto; background:url(<?php echo $img_url;?>bg.gif) top center repeat-x;}
#wrapper{width: 960px;margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto;} #header{height: 54px;margin-bottom: 10px;
} #logo{float: left;text-align: left;text-indent: -999em;background-image: url(<?php echo $img_url;?>logo.gif);background-repeat: no-repeat;background-position: 5px 10px;} #logo h1 a{width: 229px;height:54px;display: block;margin-left: 5px;}
#toptool{font-size: 20px;color:#08598C;float: right;padding: 10px;}
#container{overflow: hidden;float: left;width: 100%;} 
#footer{float: left;margin-top: 10;margin-right: auto;margin-bottom: 0;margin-left: auto;width: 100%;text-align: center;}
#footer p{padding-top: 10px;padding-bottom: 10px;}
a{color:#08598C;text-decoration:none;}
a:hover{color:#F00;text-decoration: underline;}
.notification {padding-left: 35px;border: 1px solid;font-size: 14px;border-color: #e6db55;color: #666452;background-color: #fffbcc;line-height: 40px;margin-right: auto;margin-left: auto;margin-top: 10px;margin-bottom: 10px;text-align: left;}       
h2{font-size: 14px;font-weight: bold;color: #135B96;}
.lan{color: #175CB7;text-decoration: none;}
a.lan:link{;color: #175CB7;text-decoration: none;}
a.lan:visited{color: #175CB7;text-decoration: none;}
a.lan:hover{color: #FF5400;text-decoration: underline;}
.lana{color: #003366;text-decoration: none;}
a.lana:link{;color: #003366;text-decoration: none;}
a.lana:visited{color: #003366;text-decoration: none;}
a.lana:hover{color: #003366;text-decoration: none;background-color: #FFFFFF;padding: 5px;}
.hui{color: #999999;text-decoration: none;}
a.hui:link{;color: #999999;text-decoration: none;}
a.hui:visited{color: #999999;text-decoration: none;}
a.hui:hover{color: #FF5400;text-decoration: underline;}
.topk{background-color: #C2DDFB;border: 1px solid #73ACE5;color: #003366;text-decoration: none;padding-top: 5px;padding-right: 8px;padding-bottom: 2px;padding-left: 8px;height: 23px;}
.topk2{background-color: #FFFFFF;margin-top: 10px;border: 1px solid #7FB2E2;padding: 1px;}
.topk2a{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #AFCDF2;background-color: #E3F1FF;padding: 3px;text-indent: 5px;}
.topk3{padding: 5px;text-indent: 16px;background-color: #F7FAFF;}
.topk3 ul{list-style-image: none;list-style-type: none;margin: 0px;padding: 0px;}
.topk3 li{padding-top: 10px;padding-bottom: 10px;height:16px;line-height:16px;list-style-type: none;color: #999999;}
.topk3 li:hover{background-color:#FFFFCC;}
#toolad{height: 60px;width: 960px;clear: both;margin-right: auto;margin-left: auto;margin-top: 10px;line-height: 30px;list-style-type: square;}
#toolad li{float: left;width: 470px;list-style-type: none;}
input{border:1px solid #8CD7FF;}
.domain{width:550px; margin:0 auto; margin-top:10px;background:url(pop_bg.png) #DEF2F8 ;height:230px; border:3px solid #8CD7FF; padding:20px; line-height:40px }
#url{width:400px; height:25px; font-size:24px; font-weight:bold; color:#1F7812;}
.ulltext{height:25px;font-size:24px;font-weight:bold;color:#1F7812;}
#xc{font-size:14px;height:25px;font-weight:bold;border:1px solid #8CD7FF;padding:5px;background-color: #DEF2F8;}
#domain{width:750px;margin-top:10px;padding:10px;line-height:40px;margin-right: auto;margin-bottom: 0;margin-left: auto;}

#head{width: 960px;margin-right: auto;margin-left: auto;}
#head li{background-color: #E3F1FF;padding: 2px;border: 1px solid #AFCDF2;float: left;list-style-type: none;margin: 8px;}

